.slide-menu {
	background-color: #333;
	z-index: 200;
	position: fixed;
	top: 0;
	width: 300px;
	height: 100%;
	overflow-y: scroll;
	transition: transform 0.3s;

	font-family: 'Source Sans Pro', Helvetica, sans-serif;
  	font-size: 16px;
  	font-weight: normal;
  	color: #42affa;
}

/*
 * Slides menu
 */

.slide-menu-items {
	margin: 0;
	padding: 0;
}

.slide-menu-item, .slide-menu-item-vertical {
  display: block;
  text-align: left;
}

.slide-menu-item {
  border-top: solid 1px #3184a1;
}

.slide-menu-item:first-child {
  border-top: none;
}

.slide-menu-item > a, .slide-menu-item-vertical > a {
  display: block;
  padding: 12px 18px;
  color: #42affa;
  text-decoration: none;
}

.slide-menu-item a.present,
.slide-menu-item-vertical a.present {
	background-color: #555;
}

.slide-menu-item a.present .slide-menu-item-title,
.slide-menu-item-vertical a.present .slide-menu-item-title {
	font-weight: bold;
}

.slide-menu-item.no-title .slide-menu-item-title, .slide-menu-item-vertical.no-title .slide-menu-item-title {
	font-style: italic;
}

.slide-menu-item-number {
	color: #999;
}

.slide-menu--slide-left,
.slide-menu--push-left {
  left: 0;
  transform: translateX(-300px);
}

.slide-menu--slide-left.active,
.slide-menu--push-left.active {
  transform: translateX(0);
}

.slide-menu--slide-right,
.slide-menu--push-right {
  right: 0;
  transform: translateX(300px);
}

.slide-menu--slide-right.active,
.slide-menu--push-right.active {
  transform: translateX(0);
}

.reveal.has-push-left {
  transform: translateX(300px);
}

.reveal.has-push-right {
  transform: translateX(-300px);
}

.reveal {
	transition: transform 0.3s;
}

/*
 * Toolbar
 */
.slide-menu-toolbar {
 	height: 60px;
 	width: 100%;
 	font-size: 12px;
    display: table;
    table-layout: fixed; /* ensures equal width */
    margin: 0;
    padding: 0;
	border-bottom: solid 2px #999;
}

.slide-menu-toolbar > li {
    display: table-cell;
 	line-height: 150%;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
	color: #aaa;
	border-radius: 3px;
}

.slide-menu-toolbar > li.active-toolbar-button {
 	color: white;
 	text-shadow: 0 1px black;	
}

.slide-menu-toolbar > li:hover {
	color: white;
}

/*
 * Panels
 */
.slide-menu-panel {
	position: absolute;
	width: 100%;
	visibility: hidden;
}

.slide-menu-panel.active-menu-panel {
	visibility: visible;
}

/*
 * Theme and Transitions buttons
 */

div[data-panel="Themes"] li,
div[data-panel="Transitions"] li {
	display: block;
	text-align: left;
	cursor: pointer;
	padding: 6px 18px;
}

/*
 * Menu controls
 */
.reveal .slide-menu-button {
	position: fixed;
	left: 30px;
	bottom: 30px;
	z-index: 30;
	font-size: 24px;
}

.reveal .slide-menu-button a {
	color: #42affa;
}

/*
 * Menu overlay
 */

.slide-menu-overlay {
  position: fixed;
  z-index: 199;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 0;
  height: 0;
  background-color: #000;
  opacity: 0;
  transition: opacity 0.3s, width 0s 0.3s, height 0s 0.3s;
}

.slide-menu-overlay.active {
  width: 100%;
  height: 100%;
  opacity: 0.7;
  transition: opacity 0.3s;
}